@import "./variable";


*{
    padding: 0%;
    margin: 0%;
}

.nav.wrapper {
	font-family: arial;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20%;
	height: 90px;
    background-color: khaki;
}
.nav.title {
	font-size: 20px;
	display: flex;
	font-weight: bold;
	align-items: center;
	justify-content: center;
}
.nav.links {
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav.important {
	display: flex;
	align-items: center;
	justify-content: right;

   li{
    list-style: none;
    padding: $padding-font;
    }
    a{
        text-decoration: none;
        color:$color;
        font-weight: $font-weight;
        border: 2px solid $color ;
        padding: 5px;
        border-radius: 4px;
    }
}
.nav.list {
	margin: 0;
	padding: 0;
}
.nav.list li {
	list-style: none;
	padding: 35px 20px;
	display: inline-block
}
.nav.list li a {
	color: black;
	text-decoration: none;
    font-family: $font;
    font-weight: $font-weight;
}
.nav.dropdown {
	color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 90px;
	background-color: #efefef;
	left: 0;
	right: 0;
	padding: 0 20% 30px 20%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 0.2s ease-in-out, color 0.1s;
}
.nav.list li:hover .nav.dropdown {
	transition: transform 0.2s ease-in-out, color 0.2s ease-in-out 0.2s;
	color: #000;
	transform: scale(1, 1);
}

.wfo.navigation-bar.ham.icon {
	cursor: pointer;
	position: relative;
	width: 30px; height: 28px;
	display: none;
}
.wfo.navigation-bar.ham.bar {
	position: absolute;
	height: 4px; width: 30px;
	background: black; border-radius: 2px;
	display: block;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	transform-origin: center;
}
.wfo.navigation-bar.ham.bar:nth-child(1) { top: 0; }
.wfo.navigation-bar.ham.bar:nth-child(2) { top: 10px; }
.wfo.navigation-bar.ham.bar:nth-child(3) { top: 20px; }
.wfo.navigation-bar.ham.icon.active .wfo.navigation-bar.ham.bar:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
.wfo.navigation-bar.ham.icon.active .wfo.navigation-bar.ham.bar:nth-child(2) {
    opacity: 0;
}
.wfo.navigation-bar.ham.icon.active .wfo.navigation-bar.ham.bar:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

@media screen and (max-width: 1254px) {
	.nav.wrapper {
		padding: 0 10%;
		z-index: 99;
	}
	.nav.title {
		transition: 0.2s ease-in-out 0.1s;
	}
	.nav.title.active {
		transition: 0.2s ease-in-out;
		opacity: 0;
	}
	.nav.important {
		opacity: 0;
		transition: 0.2s ease-in-out;
		position: absolute;
	}
	.nav.important.active {
		transition: 0.2s ease-in-out 0.3s;
		opacity: 1;
	}
	.wfo.navigation-bar.ham.icon {
		display: block;
	}
	.nav.links {
		position: fixed;
		right: -100vw;
		width: 100vw;
		height: 1000vh;
		background-color: white;
		margin-top: 190px;
		align-items: center;
		justify-content: center;
		transition: 0.2s ease-in-out;
	}
	.nav.links.active {
		right: 0;
	}
	.nav.list {
		margin-right: 10%;
	}
	.nav.list li {
		list-style: none;
		margin: 10px 0;
		padding: 10px;
		display: inline;
		font-weight: bold;
		font-size: 20px;
		align-items: center;
	}
	.nav.gradient-wrapper {
		position: absolute;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
	}
	.nav.gradient {
		width: 100vw;
		height: 100vh;
		background: linear-gradient(0deg, rgba(255,255,255,1) 60%, rgba(255,174,0,0) 100%);
		transition: 0.3s ease-in-out 0.3s;
	}
	.nav.gradient.active {
		transform: translateY(100vh);
	}
}
.nav.list{
    li {
        a:hover{
        text-decoration: underline $color;
        text-underline-offset: 1em;
        }
    }
}
.nav.important{
    li{
        a:hover{
            background-color: $color;
            color: #ffff;
            letter-spacing: 2px;
        }
    }
}
.container{
    padding: 1% 7%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(splash-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: khaki;
    
    h1{
        font-weight: 900;
        font-size: 70px;
        font-family: $font;
    }
    h4{
        margin-top: 100px;
        font-family: $font;
        font-weight: $font-weight;
        color: aqua;
        
        span{
            color: #ffff;
        }
    }
    button{
        padding: 10px;
        background-color: $color;
        font-family: $font;
        font-weight: $font-weight;
        color: #ffff;
        border: 1px solid $color;
        margin-top: 50px;
		margin-bottom: 30px;

        i{
            color: #ffff;
            padding: 10px;
            font-size: larger;
            font-weight: $font-weight;
        }
    }
    .head{
        display: flex;
        justify-content: left;   
        
        button:hover{
            transform: scale(1.2);
        }
    }
    .image{
		h2{
			text-align: end;
			color: $color;
			font-size: 30px;
		}
        img{
            transform: scale(1.2);
        }
    }
	#con-1{
		a{
			font-family: $font;
			font-weight: $font;
			font-size: 30px;
			color: aqua;
			margin-left:40%;
			margin-bottom: 20px;
		}
	}
}
@media (max-width:900px){
    #con-1{
        width: 100%;
    }
	.image{
		visibility: hidden;
	}
}
@media (max-width:1138px){
	#scroll{
		visibility: hidden;
	}
	.image{
		visibility: hidden;
	}
}
.container-1{
	padding: 3% 7%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    background-color: khaki;	
	

	.head-3{

			h3{
				font-size: medium;
				font-weight: $font-weight;
				font-family: $font;
				margin-top: 17px;
			}

		button{
			padding: 10px;
			background-color: $color;
			font-family: $font;
			font-weight: $font-weight;
			color: #ffff;
			border: 1px solid $color;
			margin-top: 35px;
			margin-bottom: 30px;
	
			i{
				color: #ffff;
				padding: 10px;
				font-size: larger;
				font-weight: $font-weight;
			}

		}
		button:hover{
			transform: scale(1.2);
			color: #000;
		}
		.arrow-head{
			display: flex;
			flex-wrap: wrap;
			justify-content: end;
		}
          p{
			text-align: end;
			font-size: 15px;
			font-weight: $font-weight;
			font-family: $font;
		  }
		  .sizecup{
					margin-top: 20px;
				a{
					padding: 10px;
					margin: 10px;
					border: 1px solid khaki;
					text-decoration: none;
					font-weight: $font-weight;
					font-size: xx-large;
					color: $color;
					font-family: $font;
				}
				// #input-no{
				// 	height: 100px;
				// 	width: 100px;
				// 	padding: 20px;
				// }
				a:hover{
					transform: scale(1.1);
					background-color: $color;
					color: #ffff;
				}

		  }
		  h1{
			text-align: center;
		  }
		  img{
			text-align: center;
		  }
		  .min-head{
			display: flex;
			justify-content: center;

			img:hover{
				transform: scale(1.2);
			}
		  }
		  span{
			text-align: center;
			margin-top: 10px;
			a{
				
				padding: 32px;
				font-size: x-large;
				font-weight: $font;
				
			}
			a:hover{
				transform: scale(1.2);
				color: $color;
			}
		  }
		  #coffe-esel{
			text-align: left;
			font-size: x-large;
			font-weight: $font-weight;
			font-family: $font;
			margin-top: 10px;
		  }
	}
	.head-2{
		h1{
			font-weight: 900;
			font-size: 50px;
			font-family: $font;		
		}
		.btn{
			display: flex;
			justify-content: left;
			align-items: center;
				
			#btn-1{
				padding: 5px;
				font-size: 20px;
				font-weight: $font-weight;
				color: #ffff;
				background-color: $color;
				border: 1px solid $color;
				
				i{
					color: #ffff;
					padding: 5px;
				}
				}
			#btn-1:hover{
				transform: scale(1.5);
				color: #000;
			}
		}
	}
}
.container-2{
	padding: 3% 7%;
    margin: 0%;
    // display: flex;
    // flex-wrap: wrap;
    background-color: khaki;

	.head-4{
		font-weight: 900;
        font-size: 25px;
        font-family: $font;
	}
	.head-5{
		margin-top: 60px;
		font-weight: 900;
        font-size: medium;
        font-family: $font;

		button{
			padding: 10px;
			background-color: $color;
			font-family: $font;
			font-weight: $font-weight;
			color: #ffff;
			border: 1px solid $color;
			margin-top: 35px;
			margin-bottom: 30px;
	
			i{
				color: #ffff;
				padding: 10px;
				font-size: larger;
				font-weight: $font-weight;
			}

		}
		button:hover{
			transform: scale(1.2);
			color: #000;
		}
	}
}
.container-2{
	display: flex;
	flex-wrap: wrap;
	.head-6{
		img{
			border-radius: 10px;
		}
	}
}
@media (max-width:1146px){
	.head-6{
		img{
			width: 70%;
		}
	}
}
.container-3{
	padding: 3% 7%;
    margin: 0%;	
	background-color: khaki;
	display: flex;
	flex-wrap: wrap;

	button{
		padding: 10px;
		background-color: $color;
		font-family: $font;
		font-weight: $font-weight;
		color: #ffff;
		border: 1px solid $color;
		margin-top: 35px;
		margin-bottom: 30px;

		i{
			color: #ffff;
			padding: 10px;
			font-size: larger;
			font-weight: $font-weight;
		}

	}
	button:hover{
		transform: scale(1.2);
		color: #000;
	}

.head-7{
	h2{
		padding: 20px;
		width: 300px;
		font-size: medium;
		font-weight: 500;
		color: #ffff;
		border: 1px solid #000;
		background-color: #000;
		font-family: $font;
		letter-spacing: 5px;
		i{
			color: gold;
		}

	}
	h1{
		font-size: xx-large;
		font-weight: 800;
		font-family: $font;
		margin-top: 70px;
	}
	p{
		margin-top: 35px;
		font-family: $font;
		font-weight: 700;
	}
	img{
		margin-top: 15px;
		border-radius: 25px;
	}
}

  .head-8{
	h1{
		font-weight: 900;
        font-size: 35px;
        font-family: $font;
	}
  }
}
.minhead{
	margin-left: 20%;;
}
footer{
	background-image: url("back-img-2.avif");
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.head-10{
	img{
		transform: scale(1.5);
	}
	button{
		padding: 10px;
		background-color: $color;
		font-family: $font;
		font-weight: $font-weight;
		color: #ffff;
		border: 1px solid $color;
		margin-top: 35px;
		margin-bottom: 30px;

		i{
			color: #ffff;
			padding: 10px;
			font-size: larger;
			font-weight: $font-weight;
		}

	}
	button:hover{
		transform: scale(1.2);
		color: #000;
	}
	h1{
		font-size: 35px;
		font-weight: 700;
		font-family: $font;
		color: #ffff;
	}
	p{
		font-size: 18px;
		font-weight:$font-weight;
		color:rgb(255, 153, 0);
	}
	input{
		padding: 10px;
		text-align: right;
	}
}
@media (max-width: 450Px) {
	.coffeecup-img{
		width: 60%;
		height: 60%;
	}
    .arrowimg{
		height: 60%;
		width: 60%;
	}
	.coffeeimg-2{
		width: 60%;
		height: 60%;
	}
	.head-3{
		transform: scale(0.7);
	}
}
@media (max-width: 518Px) {
	.head-3{
		transform: scale(0.8);
	}
	.image{
		display: none;
	}
}
@media (max-width:1132px){
	.image{
		display: none;
	}
}
@media (max-width:393px){
	.head-3{
		transform: scale(0.7);
	}
}
@media(max-width:484px){
  .head-10{
	width: 65%;
	height: 65%;
  }
  .head-9{
	width: 65%;
	height: 65%;
  }
}
// @media (max-width:372px){
// 	.ratingsbox{
// 		width: 70%;
// 	}
// }
@media(max-width:1088px){
.container-1{
	text-align: center;
}
}